@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@900&display=swap');
body {
    display: block;
    margin: 0;
}

.container1 {
    width: 100%;
    background: rgb(65,79,237);
    height: 626px;
    background-image: url("images/bg.svg");
    position: relative;
}

.navbar {
    display: flex;
    justify-content:space-between;
    height:80px;
    align-items: center;
    margin: 0px 170px;
}

.navbar-text {
    display: flex;
    justify-content: space-around;
}

.navbar-text a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.navbar img {
    width: 124px;
    height: 34px;
}

.open-discord a {
    color: black;
    text-decoration: none;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 12px 17px;
    border-radius: 1.4em;
}

.navbar-text :hover {
    text-decoration: underline;
    transition: ease-in 100ms;
}

.open-discord :hover {
    color: blue;
    /* opacity: 90%;
    transition: ease-in 200ms; */
    -webkit-box-shadow: 0 15px 30px -15px black;
	   -moz-box-shadow: 0 15px 30px -15px black;
	        box-shadow: 0 15px 30px -15px black;
            transition: ease-in 200ms;
}

.bgs-cls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}

.main-text-div {
    width: 100%;
    display: block;
    position: absolute;
    top: 180px;
}

.heading {
    text-align: center;
    font-family: 'Tienne', serif;
    color: white;
    font-size: 2em;
}

.title {
    text-align: center;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
}

.buttons {
    text-align: center;
    padding-top: 30px;
}

.buttons a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 16px 32px;
    border-radius: 1.8em;
    font-size: 1.2em;
}

.windows {
    color:black;
    background: white;
    margin-right: 20px;
}

.browser {
    color: white;
    background: black;
}

.buttons :hover {

    -webkit-box-shadow: 0 15px 20px -20px black;
	   -moz-box-shadow: 0 15px 20px -20px black;
	        box-shadow: 0 15px 20px -20px black;
            transition: ease-in 200ms;
    background: rgb(35, 35, 35);
}

.container2 {
    width: 100%;
    background-color: #ffffff;
    height: 680px;
}

.sub {
    display: flex;
    justify-content: space-around;
    padding: 120px 40px;
}

.sub-text {
    display: block;
}

.sub h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: rgb(34,39,43);
}

.sub p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
    color: rgb(34,39,43);
}

.container3 {
    display: block;
    width: 100%;
    background-color:rgb(247,247,246);
    height: 680px;
}

.sub-img-big {
    width: 100%;
}

.ready-to-start h2 {
    color: rgb(34,39,43);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 220px;
    font-size: 2em;
}

.ready-to-start {
    background-image: url("images/bg-star.svg");
    height: 50px;
    margin-left: 220px;
}

.windows-button-last a  {
    background: rgb(88,100,243);
    padding: 16px 32px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: 400;
}

.windows-button-last {
    text-align: center;
    margin-top: 40px;
}

.windows-button-last :hover{
    -webkit-box-shadow: 0 15px 20px -20px black;
	   -moz-box-shadow: 0 15px 20px -20px black;
	        box-shadow: 0 15px 20px -20px black;
            transition: ease-in 200ms;
    background:rgb(92, 41, 220);
}

.footer {
    display: block;
    background: rgb(34,39,43);
}

.footer-top {
    display: flex;
    margin-top: 400px;
    justify-content: center;
}

.footer-top-1 h1 {
    font-family: 'Tienne', serif;
    color: rgb(65,79,237);
    line-height: .9em;
    font-weight: bold;
    margin-top: 100px;
}

.footer-top-1 a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: .9em;
}

.usa {
    padding: 0 5px;
    margin: 0;
}

.icons img {
    margin-top: 24px;
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

.footer-top-2 {
    display: flex;
    justify-content: space-around
}

.footer-top-1-a
{
    display: block;
}

.footer-top h5 {
    color:rgb(65,79,237);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 100px;

}

.footer-top-2 div {
    padding: 0 70px;
}

.footer-top-1 {
    padding-right: 100px;
}

li {
    padding: 5px 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

ul :hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom img {
    width: 124px;
    height: 34px;
}

.footer-bottom {
    margin: 0 150px;
    height: 100px;
    align-items: center;
    border-top: rgb(88,100,243) solid 2px;
    
}

.footer-top {
    margin-bottom: 20px;
    
}

.open-discord-2 a{
    color: white;
    text-decoration: none;
    background: rgb(88,100,243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 12px 17px;
    border-radius: 1.4em;
}

.open-discord-2 :hover {
    
    -webkit-box-shadow: 0 15px 20px -20px black;
	   -moz-box-shadow: 0 15px 20px -20px black;
	        box-shadow: 0 15px 20px -20px black;
            transition: ease-in 200ms;
    background:rgb(136, 125, 255);
}


